/* MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding: 30px;
  }

  .right {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  button {
    width: 100%;
  }

  .login-card {
    width: 100%;
  }

  .plane {
    top: -60px;
  }

  .right img {
    bottom: 7rem;
    width: 90%;
  }
  .hero-card {
    flex-direction: column;
  }
  .hero-left,
  .hero-right {
    flex: none;
    width: 100%;
  }
  .hero-right {
    padding: 20px;
  }
  .top-destination {
    padding: 1rem;
}

.top-destination .title h2 {
    font-size: 1.5rem;
}

.destination-card img {
    height: 180px; 
}

.destination-card h3 {
    font-size: 1rem;
}

.destination-card p {
    font-size: 0.8rem;
}

.features span {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.price-rating .price {
    font-size: 0.9rem;
}
.reservation-section {
  flex-direction: column;
}

.reservation-container {
  max-width: 100%;
}
}


